.movieText {
   color: rgb(180, 28, 28);
   text-align: left;
   font-size: 2rem;
}

.movieHeading {
   color: rgb(242, 126, 126);
   text-align: left;
   font-size: 3rem;
}
div{
   background-color: black;
}